<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bartu'nun Yapay Zeka Avukatı</title>
    <link rel="stylesheet" href="/static/css/utils.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
  </head>
  <body>
    <div class="chatbot-container">
      <div class="chatbot-header">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
          alt="Avukat Avatarı"
          class="avatar"
        />
        <div class="welcome-text">Yapay Zeka Dosya Asistanına Hoşgeldiniz</div>
      </div>
      <div id="chat-window" class="chat-window"></div>
      <form
        id="questionForm"
        enctype="multipart/form-data"
        class="chat-input-area"
      >
        <textarea
          id="question"
          name="question"
          rows="2"
          placeholder="Sorunuzu yazın..."
          required
        ></textarea>
        <div class="chat-input-actions">
          <input
            type="file"
            id="pdf"
            name="pdf"
            accept="application/pdf"
            style="display: none"
          />
          <label for="pdf" class="pdf-label">PDF Seç</label>
          <span id="pdf-name" class="pdf-name"></span>
          <button type="submit" class="send-btn">Gönder</button>
        </div>
      </form>
    </div>

    <script src="/static/js/chat.js"></script>
    <script src="/static/js/pdf.js"></script>
    <script src="/static/js/form.js"></script>
  </body>
</html>
